<div class="container">

  <h1 class="col-lg-6 col-md-10 col-sm-10 mt-4">
    <%= title %>
  </h1>

  <hr class="mb-4" />
  
  <!-- Message Area -->
  <% if (messages.length > 0) { %>
  <div id="messageArea" class="alert alert-danger">
    <%= messages %>
  </div>
  <% } %>

  <div class="row justify-content-lg-center g-3">
    <form method="POST" class="col-lg-6 col-md-10 col-sm-10">

      <div class="form-group mb-2">
          <label for="surveyName">Survey Name</label>
          <input type="text" class="form-control" id="surveyName" placeholder="Enter the Name"
              name="Name" value="<%= survey.Name %>" required />
      </div>

      <div class="form-group mb-2">
        <label for="surveyDescription">Survey Description</label>
        <textarea class="form-control" id="surveyDescription" rows="3" name="Description"
              placeholder="Enter the Description" required><%= survey.Description %></textarea>
      </div>

      <div class="form-group mb-2">
          <label for="startDate">Start Date</label>
          <input type="datetime-local" class="form-control" id="startDate"
              placeholder="Enter the Start Date" name="StartDate" value="<%= survey.StartDate %>" required />
      </div>

      <div class="form-group mb-2">
          <label for="endDate">End Date</label>
          <input type="datetime-local" class="form-control" id="endDate" placeholder="Enter the End Date"
              name="EndDate" value="<%= survey.EndDate %>" required />
      </div>

      <div class="form-check mb-2">
          <label class="form-check-label" for="isPublishedField">Published</label>
          <input type="checkbox" class="form-check-input" id="isPublishedField" placeholder="Set published status"
              name="IsPublished" value="" <%= survey.IsPublished ? "checked" : "" %> >
      </div>

      <div class="mt-4 mb-2">
          <button class="btn btn-primary" type="submit">
            <i class="fas fa-edit"></i>&nbsp;Submit
          </button>

          <button class="btn btn-warning cancel-btn" type="button">
            <i class="fas fa-undo"></i>&nbsp;Cancel
          </button>
      </div>
    
    </form>

  </div>

</div>

